TradingAssistant/packages/
TradingAssistant/TradingAssistant/bin/
TradingAssistant/TradingAssistant/obj/
TradingAssistant/TradingAssistantViewModel/bin/
TradingAssistant/TradingAssistantViewModel/obj/
TradingAssistant/TradingAssistantViewModelTests/bin/
TradingAssistant/TradingAssistantViewModelTests/obj/
